@import url('https://rawgit.com/jonasjohansson/template/master/reset.css');
@import url('https://fonts.googleapis.com/css?family=Rubik');

:root {
	--base: 24px;
	--gutter: 12px;
}

html {
	font: 15px/1.2 'Rubik', BlinkMacSystemFont, system-ui, -apple-system;
	letter-spacing: 0.006em;
	background-color: #eee;
	color: #222;
	transition: opacity 400ms ease-in-out;
	will-change: opacity;
	opacity: 1;
}

html.loading {
	opacity: 0;
}

body > div {
	padding: var(--base);
	box-sizing: border-box;
}

body > div:first-of-type {
	background-color: white;
}

h2 {
	font-size: inherit;
	font-weight: normal;
	margin-bottom: -4px;
}

p:not(:last-child) {
	margin-bottom: var(--base);
}

p a {
	font-weight: bold;
}

a {
	color: inherit;
}

/* entries, entry */

.entry {
	position: relative;
	line-height: var(--base);
}

.entry:not(:last-child) {
	margin-bottom: var(--gutter);
}

.entry:after {
	content: '';
	display: block;
	clear: both;
}

.entry a {
	width: 100%;
	display: inline-block;
	font-size: inherit;
	white-space: nowrap;
}

.entry a span {
	display: block;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
}

.date,
.state {
	position: absolute;
	display: block;
	box-sizing: border-box;
	padding: 0 var(--gutter);
	line-height: calc(var(--base) * 2);
	opacity: 0.5;
}

.date {
	text-transform: capitalize;
}

.state {
	right: 0;
}

.state:first-letter {
	text-transform: uppercase;
}

/* progress */

progress {
	float: left;
	width: 100%;
	height: calc(var(--base) * 2);
	text-align: center;
	background-color: #cccccc;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

progress,
progress::-webkit-progress-value,
progress::-webkit-progress-bar {
	border-radius: calc(var(--gutter) / 3);
}

progress:after {
	content: '';
	display: block;
	clear: both;
}

progress::-webkit-progress-bar {
	background-color: inherit;
}

/* states */

.entry:not(.finished) div {
	mix-blend-mode: multiply;
}

.entry.finished div {
	color: white;
}

.entry.upcoming progress::-webkit-progress-value {
	background-color: #f783ac;
}

.entry.ongoing progress::-webkit-progress-value {
	background-color: #54ab9f;
}

.entry.finished progress::-webkit-progress-bar {
	background-color: #000;
}
