:root {
	--base: 30px;
}

html {
	font: 16px/1.2 BlinkMacSystemFont, system-ui, -apple-system;
	letter-spacing: 0.006em;
	color: black;
	/*background: var(--grad-start) linear-gradient(var(--grad-start), var(--grad-end));*/
}

a {
	color: inherit;
	/*text-decoration: none;*/
}

label {
	float: left;
	width: 100px;
}

.entry {
	line-height: var(--base);
}

.dates {
	position: absolute;
	display: block;
	z-index: 100;
	color: white;
	text-indent: 10px;
	box-sizing: border-box;
	text-transform: capitalize;
}

progress {
	width: 100%;
	height: var(--base);
	text-align: center;
	color: white;
	background-image: green;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

progress::-webkit-progress-value,
progress[value='100']::-webkit-progress-value {
	background: Red;
}

progress::-webkit-progress-bar {
	background: MediumSeaGreen;
}

progress.will-start::-webkit-progress-bar {
	background: RoyalBlue;
}
